{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "require-yield": 0
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "jsx": false
    }
  },
  "plugins": ["prettier"]
}
